@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
        url("../fonts/FuturaPT-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
        url("../fonts/FuturaPT-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
        url("../fonts/FuturaPT-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
        url("../fonts/FuturaPT-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-image: url("../img/bg.png");
    margin: 0;
    padding: 0;
    font-family: 'Futura PT', 'Arial', sans-serif;
    background-color: #E5E5E5;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1350px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.info-page {
    display: flex;
    padding-left: 178px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 9px 0;
}

.address-veterinary {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    display: flex;
    align-items: center;
}

.address-veterinary::before {
    display: inline-block;
    width: 14px;
    height: 13px;
    background-image: url("../img/home.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 9px;
    content: "";
}

.phone-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.phone__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    white-space: nowrap;
}

.phone__link:hover {
    color: #FFBD54;
}

.phone__link:active {
    color: #333333;
    opacity: 0.5;
}

.phone__item {
    display: flex;
    align-items: center;
}

.phone__item:nth-child(1)::before {
    display: inline-block;
    width: 14px;
    height: 13px;
    background-image: url("../img/phone.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 9px;
    margin-left: 9px;
    content: "";
}

.phone__item:not(:first-child)::before {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 9px;
    margin-left: 9px;
    content: "";
    background-color: #FFBD54;
    border-radius: 50%;
}

.work-day {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

.work-day__item {
    margin: 0;
    padding: 0;
}

.work-day__item:nth-child(1) {
    margin-right: 17px;
}

.work-day::before {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("../img/calender.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 7px;
    content: "";
}

.menu {
    background-color: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
}

.navbar {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    padding-left: 178px;
}

.navbar__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin-left: auto;
}

.logo-link {
    position: absolute;
    left: 0;
    top: 50%;
    transition: opacity 0.3s ease;
    transform: translateY(-50%);
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.5;
}

.navbar__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    padding: 20px 23px;
    transition: background-color 0.3s ease;
}

.navbar__link:hover {
    background-color: #FFBD54;
}

.navbar__link:active {
    background-color: rgba(255, 189, 84, 0.5);
}

.navbar__link--active {
    display: flex;
    align-items: center;
}

.navbar__link--active::before {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url("../img/active.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 12px;
    content: "";
}

.nabar__question {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #333333;
    margin-left: auto;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    padding: 20px 23px;
}

.nabar__question:hover {
    color: #fff;
    background-color: #333333;
}

.nabar__question:active {
    color: #fff;
    background-color: #333333;
    opacity: 0.5;
}

.nabar__question::before {
    display: inline-block;
    width: 23px;
    height: 20px;
    background-image: url("../img/pet.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;
    margin-left: 10px;
    content: "";
}


.hero-section {
    width: 100%;
    background-image: url("../img/hero-bgi.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 800px;
}

.hero__page {
    height: 710px;
    display: flex;
    align-items: center;
}

.hero__info {
    margin-right: 48px;
    width: 608px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.hero__heading {
    margin: 0;
    padding: 0;
    width: 608px;
    font-weight: bold;
    font-size: 70px;
    line-height: 64px;
    color: #333333;
}

.hero__heading--blue {
    color: #78C0DE;
}

.hero__text {
    margin: 0;
    padding: 0;
    width: 495px;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
    margin-top: 28px;
    margin-bottom: 32px;
}

.button {
    display: inline-block;
    padding: 17px 48px;
    border: 2px solid transparent;
    background-color: none;
    color: #222;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    line-height: 1.2;
    cursor: pointer;
}

.hero__link {
    background-color: #333333;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    transition: border-radius, background-color 0.3s ease;
}

.hero__link:hover {
    background-color: #FFBD54;
    border-radius: 3px;
    color: #333333;
}

.hero__link:active {
    opacity: 0.5;
    background-color: #FFBD54;
    border-radius: 3px;
    color: #333333;
}

.blockquote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blockquote-section hr {
    width: 140px;
    height: 0px;
    border: none;
    border: 1px solid #DBDBDB;
}

.blockquote-section blockquote {
    position: relative;
    width: 753px;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #949494;
}

.blockquote-text {
    width: 357px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
}

.blockquote-section blockquote::before {
    position: absolute;
    display: inline-block;
    width: 84px;
    height: 56px;
    background-image: url("../img/quote.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    left: -110px;
    top: 0;
    content: "";
}

.blockquote-section blockquote::after {
    position: absolute;
    display: inline-block;
    width: 84px;
    height: 56px;
    background-image: url("../img/quote.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(50%) rotate(-180deg);
    right: -110px;
    bottom: 0;
    content: "";
}

.our-services__heading {
    width: 296px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 48px;
    line-height: 20px;
    margin-top: 190px;
    color: #333333;
}

.our-services__list {
    max-width: 1310px;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    overflow: hidden;
}

.our-services__item {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #333333;
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px;
    width: 193px;
    min-height: 250px;
}

.our-services__list li:not(:first-child) {
    margin-left: 15px;
    margin-bottom: 14px;
}

.active_li::after {
    content: '';
    display: inline-block;
    width: 193px;
    height: 18px;
    position: absolute;
    bottom: 0;
    left: -1px;
    right: 0;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    transform: translateY(80%);
}

.our-services__item:hover {
    color: #FFBD54;
}

.our-services__item:active {
    opacity: 0.5;
}

.our-services__item::before {
    display: inline-block;
    width: 78px;
    height: 78px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 25px;
    content: "";
}

.s1::before {
    background-image: url("../img/doctor\ 1.png");
}

.s2::before {
    background-image: url("../img/doctor\ 2.png");
}

.s3::before {
    background-image: url("../img/hirurg.png");
}

.s4::before {
    background-image: url("../img/dermatolog.png");
}

.s5::before {
    background-image: url("../img/veterinary-3\ 1.png");
}

.s6::before {
    background-image: url("../img/oftamtalog.png");
}

.s7::before {
    background-image: url("../img/diagnos.png");
}

.s8::before {
    background-image: url("../img/shpirist.png");
}

.s9::before {
    background-image: url("../img/pasport.png");
}

.s10::before {
    background-image: url("../img/vaksina.png");
}

.s11::before {
    background-image: url("../img/stamatalog.png");
}

.s12::before {
    background-image: url("../img/case.png");
}

.slider-box {
    width: 1310px;
    position: relative;
    padding: 0 40px;
    margin-top: 150px;
}

.slider__controller {
    border: none;
    background-color: #E5E5E5;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left {
    left: -1%;
    transform: translateY(-50%) rotate(-180deg);
}

.right {
    right: -1%;
}

.slider__controller:hover {
    background-color: #fff;
}

.slider__controller:active {
    background-color: #fff;
    opacity: 0.5;
}

.slider-info {
    margin: 0 40px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

.slider-info__details {
    margin-left: 67px;
}

.slider-info__details h3 {
    width: 333px;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #333333;
}

.slider-info__details p {
    width: 492px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.btn-y {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 15px 35px;
    background-color: #FFBD54;
    border-radius: 3px;
    margin-right: 21px;
}

.btn-b {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 15px 35px;
    background-color: #333333;
    border-radius: 3px
}

.btn-b:hover {
    background-color: #FFBD54;
    color: #333333;
}

.btn-y:hover {
    background-color: #333333;
    color: #FBD543;
}

.btn-f:hover {
    background-color: #333333;
    color: #FBD543;
}

.btn-p:hover {
    background-color: #FFBD54;
    color: #333333;
}

.btn-f:active,
.btn-b:active,
.btn-y:active,
.btn-p:active {
    opacity: 0.5;
}

.btn-y:before {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url("../img/money\ 1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -5px;
    margin-right: 12px;
    content: "";
}

.btn-b:before {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url("../img/document\ 1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -5px;
    margin-right: 12px;
    content: "";
}

.email {
    height: 481px;
    background-image: url("../img/kuchuk.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-left: 50px;
}

.email-input input {
    width: 335px;
    height: 50px;
    margin-right: 21px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-left: 5px;
    color: #949494;
}

.email-input {
    width: 544px;
    height: 60px;
    display: flex;
    margin-top: 105px;
}

.btn-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #333333;
    border-radius: 3px;
}

.btn-f {
    padding: 17px 65px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #FBD543;
    border-radius: 3px;
}

.article__link {
    margin-left: -10px;
    padding-left: 0;
    padding-right: 0;
}

.articl__item span {
    width: 71px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #949494;
    margin-left: 182px;
}

.articl__item h3 {
    width: 182px;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
}

.articl__item p {
    width: 244px;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.article__list{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 265px;
}

.articl__item + .articl__item{
    margin-left: 24px;
}

.article__heading{
    margin-top: 210px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 384px;
    font-weight: bold;
    font-size: 48px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #333333;
}

.articl__item {
    background-color: #fff;
    width: 305px;
    padding: 30px;
    border-radius: 5px;
    overflow: hidden;
}

.article1::before{
    display: inline-block;
    width: 305px;
    height: 180px;
    background-image: url("../img/article1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -30px;
    margin-top: -30px;
    content: "";
}
.article2{
    width: 610px;
    position: relative; 
    padding-left: 335px;
}
.article2::before{
    position: absolute;
    display: block;
    left: 0;
    top: 0px;
    bottom: 0;
    width: 305px;
    height: 100%;
    background-image: url("../img/article2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
}
.article3::before{
    display: inline-block;
    width: 305px;
    height: 180px;
    background-image: url("../img/article3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -30px;
    margin-top: -30px;
    content: "";
}

.form__heading {
    width: 360px;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 62px;
}

.form__text {
    width: 334px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.form__page {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 100px;
    height: 649px;
    background-image: url("../img/fish-side.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #222;
}

.form-wrapper {
    display: flex;
    align-items: center;
}

.form-input {
    width: 375px;
    height: 50px;
    margin-right: 21px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 14px;
    color: #949494;
}

.text-area {
    min-width: 375px;
    max-width: 375px;
    min-height: 165px;
    margin-bottom: 30px;
}

.footer {
    background-color: #F3F3F3;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    margin-top: 245px;
}

.footer-pages {
    display: flex;
    align-items: center;
}

.footer-page {
    width: 300px;
    flex-wrap: wrap;
    margin-left: 50px;
}

.footer-call {
    width: 800px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;

}

.footer-phone {
    display: flex;
    flex-wrap: wrap;
    width: 200px;

}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .s1::before {
        background-image: url("../img/doctor\ 1@2x.png");
    }
    
    .s2::before {
        background-image: url("../img/doctor\ 2@2x.png");
    }
    
    .s3::before {
        background-image: url("../img/hirurg@2x.png");
    }
    
    .s4::before {
        background-image: url("../img/dermatolog@2x.png");
    }
    
    .s5::before {
        background-image: url("../img/veterinary-3\ 1@2x.png");
    }
    
    .s6::before {
        background-image: url("../img/oftamtalog@2x.png");
    }
    
    .s7::before {
        background-image: url("../img/diagnos@2x.png");
    }
    
    .s8::before {
        background-image: url("../img/shpirist@2x.png");
    }
    
    .s9::before {
        background-image: url("../img/pasport@2x.png");
    }
    
    .s10::before {
        background-image: url("../img/vaksina@2x.png");
    }
    
    .s11::before {
        background-image: url("../img/stamatalog@2x.png");
    }
    
    .s12::before {
        background-image: url("../img/case@2x.png");
    }

   body{ background-image: url("../img/hero-bgi@2x.png");}
   .article1::before{
    background-image: url("../img/article1@2x.png");
   }
   .article2::before{
    background-image: url("../img/article2@2x.png");
   }
   .article3::before{
    background-image: url("../img/article3@2x.png");
   }
}